<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <link rel="stylesheet" type="text/css" href="/static/<%= grunt.config.get('pkg.name') %>.css"/>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript" src="/static/jquery.js"></script>
  <script type="text/javascript" src="/static/angular.js"></script>
  <script type="text/javascript" src="/static/bootstrap.js"></script>
  <script type="text/javascript" src="/static/<%= grunt.config.get('pkg.name') %>.js"></script>
</head>
<body ng-controller="AppCtrl">
  <div class="container-fluid">
    <!--<div ng-include="'header.tpl.html'"></div>
    <div ng-include="'notifications.tpl.html'" class="notifications container" ng-show="notifications.getCurrent().length"></div>-->
    <div class="jumbotron"><h1>{{title}}</h1></div>
    <form class="form-inline" novalidate>
      <div class="form-group">
        <label class="sr-only" for="exampleInputEmail2">Keyword</label>
        <input type="text" class="form-control" id="keyword" placeholder="Enter keyword" ng-model="keyword">
      </div>
      <button class="btn btn-default" ng-click="listen()">Submit</button>
    </form>
    <div class="stream">
      {{stream}}
    </div>
    <div ng-view class="container-fluid">

    </div>
  </div>
</body>
</html>
